/* body{
  background-color: red;
} */

circle {
          fill: lightblue;
          stroke: black;
        }
h1 {
  color: green;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
.info{
  font-size: 12px;
  color: black;
  font-style: normal;
  font: arial;
}
.statetext{
  color: black;
  font-weight: 900;
  font-size: 15px;
  stroke: black;
}
.xaxislab{
  /* color: lightblue; */
  font-size:20px;
  font-weight:900;
}
.yaxislab{
  /* color: lightblue; */
  font-size:20px;
  font-weight:900;
}
.stdethd{
  font-size:20px;
  font-weight:900;
}
#yearselect {display:inline-block;margin-right:10px; width:150px;padding: 0 0 0 350px;}
#vis-container {display:inline-block; width:100px; }
#stateselect {display:inline-block;margin-right:10px; width:150px;}
#vis-container-state {display:inline-block;margin-right:10px; width:100px; }

.container {
            width:auto; /*1200px;*/
            height:auto; /*900px;*/
            /* background-color:green; */
            padding-top:15px;
            padding-left:5px;
            padding-right:5px;
        }
        #st-box {
            float:left;
            width:325px;
            height:625px;
            /* background-color:green; */
            border:solid black;
        }
        #nd-box {
            float:left;
            width:700px; /*800px*/
            height:525px; /*600px;*/
            /* background-color:yellow; */
            border:solid black;
            margin-left:10px;
        }
        #rd-box {
            float:left;  /*right*/
            width:385px;
            height:475px;
        /*    background-color:orange;*/
            border:solid black;
            margin-left:10px;
        }
        .mcannot1{
          /* color: lightblue; */
          font-size:14px;
          font-weight:bold;
          display:none;
        }
        .mcannot1d{
          /* color: lightblue; */
          font-size:14px;
          font-weight:bold;
          display:block;
        }
        .mcannot2{
            /* color: lightblue; */
            font-size:14px;
            font-weight:bold;
            display:none;
          }
        .mcannot2d{
              /* color: lightblue; */
              font-size:14px;
              font-weight:bold;
              display:block;
            }
        .scannot1{
          /* color: lightblue; */
          font-size:14px;
          font-weight:bold;
          display:none;
        }
        .scannot1d{
          /* color: lightblue; */
          font-size:14px;
          font-weight:bold;
          word-break:break-word;
          display: inline-block;
          word-wrap: break-word;
          line-break: strict;;
        }
        /* h1 {
            color:Green;
        }  */
